<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	  xmlns:tools="http://schemas.android.com/tools"
	  package="com.xmission.trevin.android.notes"
	  android:versionCode="1030101"
	  android:versionName="1.3.1">
    <!-- Add for API level 29:
	 android:targetSandboxVersion="1"
      -->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- Minimum = Froyo (Android 2.2).
         Target WAS Ice Cream [15] (Android 4.03);
         currently tracking Marshmallow [23] (Android 6.0).
         Requires programmatic handling of permissions.
         SDK [26] requires change in Toast handling.
         No other changes are anticipated through SDK [35]. -->

    <uses-sdk android:minSdkVersion="8"
	      android:targetSdkVersion="23"/>

    <application
	android:allowBackup="true"
	android:icon="@drawable/icon"
	android:label="@string/app_name"
	android:theme="@style/Theme.Light.WithActionBar"
	tools:targetApi="23">
        <!-- Add for API level 26:
        android:appCategory="productivity"
          -->
        <!-- Add for API level 31:
        android:dataExtractionRules="@xml/data_extraction_rules"
          -->
        <!-- No idea which API level added these attributes:
        android:fullBackupContent="@xml/backup_rules"
        android:hasFragileUserData="true"
          -->
        <activity
	    android:name=".NoteListActivity"
            android:label="@string/app_name"
	    android:exported="true"
	    android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
        	<action android:name="android.intent.action.EDIT"/>
		<data android:mimeType="vnd.android.cursor.dir/vnd.xmission.trevin.notes"/>
	    </intent-filter>
        </activity>

	<provider android:name="NoteProvider"
		  android:authorities="com.xmission.trevin.android.notes.Note">
	</provider>

	<activity android:name="CategoryListActivity"
		  android:exported="false"
		  android:launchMode="standard">
	    <intent-filter>
		<action android:name="android.intent.action.EDIT"/>
		<data android:mimeType="vnd.android.cursor.dir/vnd.xmission.trevin.notes.category"/>
	    </intent-filter>
	</activity>

	<activity android:name="ExportActivity"
		  android:exported="false"
		  android:launchMode="standard">
	    <intent-filter>
		<action android:name="android.settings.SYNC_SETTINGS"/>
	    </intent-filter>
	</activity>

	<activity android:name="ImportActivity"
		  android:exported="false"
		  android:launchMode="standard">
	    <intent-filter>
		<action android:name="android.settings.SYNC_SETTINGS"/>
	    </intent-filter>
	</activity>

	<activity android:name="PreferencesActivity"
		  android:exported="false">
	    <intent-filter>
		<action android:name="android.settings.APPLICATION_SETTINGS"/>
	    </intent-filter>
	</activity>

	<activity android:name="NoteEditorActivity"
		  android:exported="false">
	    <intent-filter>
		<action android:name="android.intent.action.EDIT"/>
		<data android:mimeType="vnd.android.cursor.dir/vnd.xmission.trevin.notes"/>
	    </intent-filter>
	</activity>

	<service android:exported="false"
	     android:label="@string/service_name_password_change"
	     android:name=".PasswordChangeService">
	</service>

	<service android:exported="false"
		 android:label="@string/service_name_import_xml"
		 android:name=".XMLImporterService">
	</service>

	<service android:exported="false"
		 android:label="@string/service_name_export"
		 android:name=".XMLExporterService">
	</service>

    </application>

</manifest>
